@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 445px;
}

.logo_title {
    display: flex;
    justify-content: center;
}

.input_search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: -17px;
}

#searchInput {
    outline: none;
    color:#000000;
    background-color: #E7E7E7;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
    letter-spacing: 1px;
}

input {

    width: 90%;
    padding: 15px 0 15px 15px;
    margin: 13px 0 13px 0;
}

.iconSearch {
    display: flex;
    border: none;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 51px;
    border-radius: 0 5px 5px 0;
    background-color: #E7E7E7;
}

.cardsRecipe {
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.cardsContainer {
    max-width: 30%;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #E7E7E7;
    border-radius: 0.25rem;
}

.imageCard {
    background-color: #C7BEBE;
    min-height: 200px;
    border-radius: 5px 5px 0 0;
}

.time-cards {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    font-size: 18px;
}

.cards-title-header {
    display: flex;
    justify-content: space-between;
    background-color: #E7E7E7;
    padding: 1rem;
}

.timecards {

    font-weight: bolder;
    margin-left: 8px !important;
}

h2 {
    font-size: 18px;
}

p {
    margin: 0;
}

.cards-title-body {
    display: flex;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: space-between!important;
    border-radius: 0 0 5px 5px;
    background-color: #E7E7E7;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 25px;
}

.ingredientBold {
    font-family:'Lato', sans empattement ;;
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
}

.methodRecette{
    overflow: hidden;
    font-family: 'Roboto', sans empattement ;
    text-overflow: ellipsis;
    width: 50%!important;
    text-align: justify;
    padding-right: 1em;
    margin: 0 -1em -2rem 0.5rem;
    max-height: 88px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.dropDownMenu{
    display: flex;
    gap:10px;
    margin-top: 20px;
    margin-left: 4.2%;
    margin-right: 28px;
}

.labels{
    margin-left: 4%;
}

.drop{
    display: flex;
    justify-content: space-between!important;
    align-items: center;
    border-radius: 5px;
    border: none;
    width:170px;
    height: 69px;
    color:#FFFF;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

#ingredients, #container-tagIng{
    background: #3282F7;
}

#appareils, #container-tagApp{
    background: #68D9A4;
}

#ustensils, #container-tagUst{
    background: #ED6454;
}

.ingredients-search ,.appareils-search ,.ustensil-search{
    display: flex;
    justify-content: space-between!important;
    align-items: center;
    margin-right: 14px
}

.open-btn{
    display: none;
    border-radius: 5px;
    padding:5px;
    color: #FFFF;
    width:667px;   
}

.container-tag{
    width: 100%;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 65px;
    border-radius: 0 0 5px 5px;
    padding: 0 10px 10px 10px;
    position: absolute;
    z-index: 2;
}
 
.ingredientsOpen.open-btn.show-opts , .ustensilsOpen.open-btn.show-opts,.appareilsOpen.open-btn.show-opts {
    display: block;
    position: relative;
}

.ingredientsOpen ,.ingredients-input , .selected-label.ing{
    background-color:  #3282F7;
}

.ustensilsOpen , .ustensils-input{
    background: #ED6454;
}

.appareilsOpen, .appareils-input , .selected-label.app{
    background: #68D9A4;
}

.btn-input{
    outline: none;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.25rem;
}

input[type="text"] {
    border: none;
    border-color: transparent;
    color:#FFFFFF;
    font-size: 18px;
}

.form-control input[type="text"] {
    color:#000000;
}

.ingredients-search input::placeholder , .appareils-search input::placeholder , .ustensil-search input::placeholder {
    color:#FFFFFF;
}

.dropDown-item{
    list-style-type: none;
    display: flex;
    color: white;
    cursor: pointer;
    width: 33%;
    height: 100%;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    font-size: 18px;
    white-space: nowrap;
    line-height: 28.6px;
}

@media only screen and (max-width: 960px) { 
    .dropDown-item{
        width:49%;
    }
    .cardsContainer {
        max-width: 44%;
    }
    
    .cardsRecipe{
        padding:0;
    }
}

@media only screen and (max-width: 800px){
    .dropDown-item {
        width: 60%;
    }
}

@media only screen and (max-width: 630px) { 
    .cardsContainer {
        width: 90%;
    }
    .open-btn {
        width:554px;
    }

    .dropDownMenu{
        flex-direction: column;
        margin-left: 25px;
    }
    #ingredients,#appareils,#ustensils{
        width:100%;
    }
    .cardsContainer {
        max-width:90%;
    }
    
}

.dropDown-item:hover ,.dropDown-item:focus {
    color:black;
    background-color: #fcfbfb;
}

.overLay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.ingredients-dropdown,.appareils-dropdown,.ustensils-dropdown{
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    width:100%;
    height: 100%;
    line-height: 21.6px;
    padding: 5px;
}

.selected-label {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 10px;
    margin-top: 31px;
    color: #FFFFFF;
    border:none;
    border-radius: 5px;
}

.fas.fa-times-circle{
    margin-left: 5px;
}

#msgResult{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-right: 4rem;
}
.listeSearch {
	position: absolute;
	z-index: 2;
	top: 27%;
	left: 34px;
	background-color: white;
	width: 100%;
}

.listeSearch p:hover {
	cursor: pointer;
	background-color: #c9bdbd;
}




